body{
        background-image: linear-gradient(to right, #1655d7, #dc323c);
}

body .container{
    width: 100%;
    height: 100vh;
   background-color: transparent;
   display: flex;
   flex-direction: column;
   align-items: center;
    justify-content: center;
}

.container div{
    gap:50px;
}

button{
    padding:5px 20px ;
    background-color:blueviolet;
    font-size: 20px;
    border-radius: 30px;
    border: none;
    color:white;
    
}

.btn1{
    background: ;
}

.container button:not(button:first-child){
    margin-left: 30px;
}

span{
    font-size: large;
    text-decoration: underline;
    font-weight: bold;
    margin-top: 10px;
}

.code{
    border-left: 3px solid white;
    color:white;
   
    font-size: 20px;
    border-radius: 5px;
    padding: 5px 10px;
    margin-top: 20px;
    background: rgba(21, 14, 14, 0.397);
}


select{
    background-color: transparent;
    color:white;
    padding:5px 10px;
    font-size: large;
    border: 2px solid ;
    margin-block:30px;
    border-radius: 10px;
}
 option{
    color:white;
    background-color: #f0197d;
}

::selection{
    background-color: #5be903;
}
